#copyButton, #helpMessage {
    -fx-text-fill: #000000;
}

#copyButton {
    -fx-background-color: #ef7c00;
}

#copyButton:hover {
    -fx-background-color: #d56e00;
}

#copyButton:armed {
    -fx-background-color: #d56e00;
}

#helpMessageContainer {
    -fx-background-color: derive(#f6f6f6, 20%);
}
