#copyButton, #helpMessage {
    -fx-text-fill: #e10000;
}

#copyButton {
    -fx-background-color: #ff3c00;
}

#copyButton:hover {
    -fx-background-color: #ffc400;
}

#copyButton:armed {
    -fx-background-color: #84ff00;
}

#helpMessageContainer {
    -fx-background-color: derive(#002aff, 20%);
}
