#copyButton, #helpMessage {
    -fx-text-fill: #000000;
}

#copyButton {
    -fx-background-color: #969696;
}

#copyButton:hover {
    -fx-background-color: #cccccc;
}

#copyButton:armed {
    -fx-background-color: #c8c8c8;
}

#helpMessageContainer {
    -fx-background-color: derive(#f6f6f6, 20%);
}
